<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/agropequaria</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">positivo</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- update: Apenas atualiza; create-drop: Apaga sempre que iniciar -->
        <property name="show_sql">true</property> <!-- Mostrar cada comando SQL executado ? -->

        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <!-- Mapping With Model Class Containing Annotations -->
        <!-- Coloque cada uma de suas classes que devem ser rastreadas aqui! -->
        <!-- <mapping class="pacote.classe" /> -->
        <mapping class="com.testes.hibernate.Comprimido" />
        <mapping class="com.testes.hibernate.Controller" />
        <mapping class="com.testes.hibernate.Injecao" />
        <mapping class="com.testes.hibernate.ListaProdutos" />
        <mapping class="com.testes.hibernate.Medicamentos" />
        <mapping class="com.testes.hibernate.Produtos" />
        <mapping class="com.testes.hibernate.Racao" />
    </session-factory>
</hibernate-configuration>